<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <div class="page-heading">
        <%= "#{@user.name}さんの朝活ToDoリスト"%>
      </div>
      <div class="card__wrapper">
        <%= render partial: "alists/alist", collection: @user.alists %> 
      </div>
    </div>
  </div>
</div>