<div class="main">
  <div class="inner3">
    <div class="page-heading">
        <%= "#{@user.name}さんの朝活ToDoリスト"%>
        <i class="far fa-check-square check-btn"></i>
    </div>
    <div class="card__wrapper">
      <% @user.alists.each do |alist| %>
        <div class="card" id="alist_<%= alist.id %>">
          <%= render 'alists/alist', alist: alist %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# @alists.each do |alist| %>
  <%# <div class="card" id="alist_<%= alist.id %>
    <%#= render 'alist', alist: alist %>
  <%# </div> %>
<%# end %>

