<main class="main">
  <div class="inner3">
    <div class="card__wrapper">
      <tbody>

          <%= render partial: "alist", collection: @alists %>

      </tbody>
    </div>
  </div>
</main>

<% @hoges.each do |hoge| %>
  <%= render partial: 'hoge', hoge: hoge %>
<% end %>

<%= render partial: 'hoge', collection: @hoges %>