<div class="main">
  <div class="inner2">
    <div class="form__wrapper">
      <h1 class="page-heading">Alist</h1>
        <p class="page-heading-text">今朝の活動を投稿</p>
          <%= render partial: "form", locals: {alist: @alist} %>
    </div>
  </div>
</div>