// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// likes.scss

.like-link {
  text-decoration: none;
}

.like-link:hover {
  background-color: rgb(230, 230, 230)!important;
}

.material-icons.md-18 { 
  font-size: 16px; 
}

.like-btn {
  color: #808080;
}
 
.unlike-btn {
  font-size: 10px;
  color: orange;
}

.comment-btn {
  font-size: 18px;
  color: #808080;
}
.comment-btn:hover {
  color: orange;
}