// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// likes.scss

.like-link {
  text-decoration: none;
}

.like-link:hover {
  // background-color: rgb(230, 230, 230)!important;
  /* #ビュー維持の記述 */
}

.material-icons.md-18 { 
  font-size: 18px; 
  padding-right: 5px;
}

.like-btn {
  color: rgb(236, 218, 201);
  // color: #fff;
}
 
.unlike-btn {
  font-size: 10px;
  padding-right: 5px;
  background: -webkit-linear-gradient(0deg, #fd9400, #ffa63a, #f1dcc1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.comment-btn {
  padding: 0 5px 0 8px;
  font-size: 15px;
  color: #aae3ff;
}

.comment-btn:hover {
  color: #00eeff;
}