/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

img {
  max-width: 45%;
  vertical-align: bottom;
}

/* ヘッダー */

.header {
  background-color: #ef9e24;
  padding: 15px 0;
}

.inner {
  width: 100%;
}

.logo {
  width: 250px;
}

.nav {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.4em;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  user-select: none;
  border: 1px white solid;
  border-radius: 30px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #ef9e24;
  background-color: white;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  user-select: none;
}

/* メイン */

body{
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  background-color: rgb(255, 247, 232);
  }

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 247, 232);
}
.inner2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px 50px;
  margin: 80px 0px 10px;
  background-color:white;
}
.inner3 {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20x 20px;
  margin: 80px 0 20px;
  background-color: #D2E5FC;
}

/* 投稿一覧 */
.inner4 {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 20px 0px;
  background-color: #D2E5FC;
}

.card__wrapper {
  width: 100%;
  padding-left: 45px;
  background-color: rgb(255, 247, 232);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: calc(90% /4);
  margin: 0 10px 40px;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  text-align: center;
}
.card__title{
  width: 100%;
  font-weight: bold;
}
.card__title__text{
  width: 100%;
  padding: 10px 0px;
  text-decoration: none;
  text-align: left;
  color: grey;
  font-size: 13px;
}
.card_btn{
  display: flex;
}
.contributor{
  width: 100px;
  padding: 10px 10px 10px 0;
  font-size: 10px;
  justify-content: center;
  text-align: right;
}
.like_btn{
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
  color: #808080;
  justify-content: center;
  text-align: left;
}
.card__list {
  width: 100%;
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: whitesmoke;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  text-align: center;
}
.card__list__text{
  width: 100%;
  padding: 10px 0 10px 15px;
  text-align: left;
  text-decoration: none;
  color: grey;
  font-size: 10px;
}
.card__user{
  width: 100%;
  font-size: 13px;
  color: #808080;
  text-decoration: none;
}

/* フォーム周り */

.form__wrapper{
  width: 100%;
}

.page-heading {
  width: 100%;
  font-size: 40px;
  color: grey;
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
  font-family: Century;
}
.check-btn {
  size: 15px;
  color: #fff;
}

.page-heading-text{
  font-size: 15px;
  color:rgb(44, 43, 43);
  text-align: center;
}

.field{
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.form__text {
  width: 70%;
  padding: 10px 10px;
}

.actions{
  width: 100%;
  text-align: center;
}

.form__btn{
  width: 70%;
  display: inline-block;
  padding: 10px 10px;
  font-size: 0.8em;
  color: #fff;
  background: #5aa1f3;
  border: 1px #5aa1f3 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.form__btn:hover{
  width: 70%;
  display: inline-block;
  padding: 10px 10px;
  font-size: 0.8em;
  color: #fff;
  background: #2672c9;
  border: 1px #2672c9 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}


/* フッター */

.footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 247, 232);
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: grey;
  font-size: 10px;
}

/* 投稿詳細ページ */

.alist__wrapper{
  width: 100%;
}
.alist__field {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.alist__card {
  width: 100%;
  padding: 20px 30px 70px;
  margin: 0 400px;
  background-color: rgb(230, 230, 230);
}
.alist__card__title{
  width: 100%;
  font-weight: bold;
}
.alist__card__title__text{
  width: 100%;
  padding: 10px 0px;
  text-decoration: none;
  text-align: left;
  color: grey;
  font-size: 20px;
}
.show_contributor{
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 10px;
  margin-bottom:  10px;
  justify-content: center;
  text-align: right;
}
.user-link {
  text-decoration: none;
}
.user-link:hover {
  background-color: rgb(230, 230, 230)!important;
}
.user-btn{
  font-size: 15px;
  color: #808080;
}
.user-btn:hover{
  color: orange;
}
.alist__card__list {
  width: 100%;
  display: block;
  margin-bottom: 40px;
  font-weight: bold;
  background-color: whitesmoke;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  text-align: center;
}
.alist__card__text{
  width: 100%;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  color: grey;
  font-size: 15px;
}
.list_check_btn{
  color: grey;
}
.alist__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.alist__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.alist__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.alist__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.alist__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.alist__btn:hover{
  color: #fff;
  background: #999;
}

/* 詳細ページコメント */
.alist__comments{
  width: 80%;
  background-color: #fff;
  padding: 20px 20px 40px;
  margin: 28px 0 40px 0;
}
.comments_lists{
  width: 100%;
}
.comments_list{
  list-style-type: square;
  padding: 0px 5px 5px 5px;
  background-color: white;
  list-style: none;
}
.comment__main{
  display: inline-flex;
}
.comment__field{
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.comment__actions{
  width: 100%;
}
.comment__btn{
  width: 100%;
  margin-left:3px;
  font-size: 0.7em;
  color: #fff;
  background: #5aa1f3;
  border: 1px #5aa1f3 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.comment__btn:hover{
  color: white;
  background-color: #2672c9;
}

.comment_user{
  text-decoration: none;
  color: grey;                                    
}