// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ユーザー投稿一覧

.user-page-heading{
    width: 100%;
    font-size: 25px;
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: center;
    font-family: Century;
    color: #fff;
    background: #489aff;
    text-shadow: 0px 0px 2px orange, 2px 2px 3px #000;
  }
.user_card__wrapper{
  width: 100%;
  padding-left: 45px;
  background-color: #D2E5FC;;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}